@import url("https://fonts.googleapis.com/css2?family=Allura&family=Architects+Daughter&family=Dancing+Script:wght@700&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
img {
  height: 250px;
  width: 350px;
}

.imgdiv {
  background-color: #eaf2ec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.imgdiv:hover {
  border: 3px solid pink;
}
.headerpic {
  background-image: url(/images/pexels-ella-olsson-1640774.jpg);
  height: 30vh;
  background-size: cover;
  width: 100%;
}

.headerpic img {
  filter: brightness(20%);
}

/* homepage contents starts here */

/* Navigation Bar */

.navDiv {
  background-color: #eaf2ec;
  height: 8vh;
  margin-top: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

/*posts html style goes here*/

a {
  text-decoration: none;
  color: black;
}

.posts {
  text-align: center;
}
.remainingPosts {
  text-align: center;
}

.postDiv {
  margin: 1em;
  display: inline-block;
  padding: 1em;
  max-width: 400px;
  border-bottom: 2px solid #eaf2ec;
}

.postDiv img {
  padding: 1em;
}

.blogPostHeading {
  color: #78b58d;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Architects Daughter", cursive;
}

p {
  max-width: 700px;
}

.remainingPosts {
  display: none;
}

/* buttons style*/

#btnScrollToTop {
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #78b58d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: lighter;
}

#btnScrollToTop:hover {
  width: 60px;
  height: 60px;
}

.viewMoreBtn {
  text-align: center;
}

.blogContinueBtn {
  height: 3em;
  width: 15em;
  margin-top: 2em;
  background-color: #78b58d;
  color: white;
  border: 2px solid #78b58d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.blogContinueBtn:hover {
  cursor: pointer;
  background-color: white;
  color: #78b58d;
  border: 2px solid #78b58d;
}

.postButton {
  height: 3em;
  width: 400px;
  background-color: white;
  color: #78b58d;
  border: 2px solid rgb(221, 251, 221);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.postButton:hover {
  cursor: pointer;
  background-color: #78b58d;
  color: white;
  border: 2px solid #78b58d;
}

/*Footer content goes here */

.postsFooter {
  background-color: #eaf2ec;
  height: 40vh;
}

.logo {
  font-family: "Shadows Into Light", cursive;
  font-size: 4em;
  font-weight: 900;
  color: black;
}

span {
  font-family: "Shadows Into Light", cursive;
  font-size: 2em;
  font-weight: 400;
}

.container {
  text-align: center;
  margin-top: 10px;
}

/* carousel */

/* manage the size of carousel */

.carousel {
  position: relative;
  height: 600px;
  width: 50%;
  margin: 0 auto;
}

.carousel_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_track_container {
  background: #78b58d;
  height: 60%;
  position: relative;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/*carousel button */

.carouselBtn {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.BtnLeft {
  left: -25px;
}

.BtnRight {
  right: -25px;
}

.fas {
  width: 25px;
  font-size: 20px;
}

/* carousel indicator */

.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 10px;
}

.carousel_indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

/* modal img*/

.modalImg {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.modalDiv {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #eaf2ec;
  display: none;
}
