* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
img {
  height: 300px;
  width: 450px;
}

.imgdiv {
  background-color: rgb(221, 251, 221);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.headerpic {
  background-image: url(/images/pexels-pixabay-255501.jpg);
  height: 40vh;
  background-size: cover;
  width: 100%;
}

/*posts html style goes here*/

a {
  text-decoration: none;
  color: black;
}

.postDiv {
  margin: 1em;
  display: inline-block;
  padding: 1em;
}

.postDiv img {
  padding: 1.5em;
}

.postDiv a {
  padding: 3em;
}

p {
  max-width: 700px;
}

.remainingPosts {
  display: none;
}

#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(221, 251, 221);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: rgb(32, 102, 32);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: lighter;
}

#btnScrollToTop:active {
  background: rgb(142, 184, 142);
}

#btnScrollToTop:hover {
  width: 60px;
  height: 60px;
}
